# Git
GIT_REPO=https://gitlab.com/<your_git_project_URL>.git
GIT_BRANCH=main
GIT_TOKEN=<your_git_token>

# Database
DB_NAME=petclinic
DB_USER=petuser
DB_PASS=petpass
DB_PORT=3306

# Application
APP_USER=petappuser
APP_PORT=8080
PROJECT_DIR=/opt/petclinic
APP_DIR=/home/petappuser

# VM network
DB_IP=192.168.56.10
APP_IP=192.168.56.11