# Proxmox
proxmox_api_host: "192.168.1.101"
proxmox_api_port: 8006
proxmox_api_user: "root@pam"
proxmox_api_password: "CHANGE_ME"
proxmox_api_timeout: 30
proxmox_validate_certs: false
proxmox_node: "pve"
proxmox_storage: "local-lvm"

# VM template
runner_template_name: "ubuntu-server-24"
runner_vm_id: 190
runner_vm_name: "gitlab-runner-01"

# VM resources
runner_cores: 2
runner_memory: 4096

# Network
runner_ip: "192.168.1.190"
runner_cidr: 24
runner_gateway: "192.168.1.1"
runner_dns: "192.168.1.1"

# SSH
runner_ssh_user: "default-user"
runner_ssh_public_key: "ssh-ed25519 pubkey"
runner_ssh_private_key_file: "private key location"

# GitLab
gitlab_url: "http://192.168.1.182"
gitlab_runner_auth_token: "glrt-CHANGE_ME"
gitlab_registry_host: "192.168.1.182"
gitlab_registry_port: 5050

# Runner
runner_description: "proxmox-docker-runner"
runner_executor_docker_image: "docker:28"
